<p style="color: green"><%= notice %></p>

<p>
  <strong>Total transaction:</strong>
  <%= @total_transactions %>
</p>

<div id="transactions">
  <% @recent_transactions.each do |transaction| %>
  <% if can? :read, transaction %>
    <%= link_to transaction do %>
      <div class="card-1">
        <%= render transaction %>
      </div>
    <% end %>
  <% end %>
  <% end %>
</div>

<%= link_to "New category", new_category_path %>
<%= link_to "New transaction", new_transaction_path %>
