<p style="color: green"><%= notice %></p>

<%= link_to "" do  %>
  <div class="d-grid col-12 mx-auto form-control text-center">
    <strong>Total transaction:</strong> <%= number_to_currency(@total_transactions) %>
  </div>
<% end %>
  
</p>

<div id="transactions">
  <% @recent_transactions.each do |transaction| %>
  <% if can? :read, transaction %>
    <%= link_to transaction do %>
      <div class="card-1">
        <%= render transaction %>
      </div>
    <% end %>
  <% end %>
  <% end %>
</div>

<div class="d-grid gap-2 col-12 mx-auto">
  <%= link_to "New category", new_category_path, class: "btn bg-first text-white hover-text-black" %>
  <%= link_to "New transaction", new_transaction_path, class: "btn btn-primary" %>
</div>
