<p style="color: green"><%= notice %></p>

<%= render @transaction %>

<div>
  <% if can? :update, @transaction %>
    <%= link_to "Edit this transaction", edit_transaction_path(@transaction) %> |
  <% end %>

  <%= link_to "Back to transactions", transactions_path %>
  <%= link_to('', transactions_path(@transaction), :class => "chevron-down") %>
  
  <% if can? :destroy, @transaction %>
    <%= button_to "Destroy this transaction", @transaction, method: :delete %>
  <% end %>
</div>
